@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&family=Lato:wght@300&display=swap');



::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    border-radius: 20px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #3C515D;
    border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #28363E;
    border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #28363E;
    border-radius: 20px;
}

/* Body */
body {
    background-color: #141B1F;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Lato', sans-serif;
}


/* Buy & Sell */
.buy-sell {
    border-bottom: 1px solid #28363E;
}

.buy-sell .col-md-9 {
    border-right: 1px solid #28363E;
}

.buy-sell header {
    border-bottom: 1px solid #28363E;
}


.buy-sell header ul {
    list-style: none;
    padding-top: 24px;
}

.buy-sell header ul li form .dropdown button {

    padding: 8px 12px;
    width: 219px;
    height: 40px;
    border: none;

    font-size: 18px;
    /* Button + Field/Field & Button - Default */

    background: #222B2F;
    border-radius: 4px;
}

.buy-sell header ul li form .dropdown button i {

    margin-left: 70px;
    font-size: 17.49px;
    /* Text + Icon/Content - Sub#2, Icon */
    color: rgba(103, 127, 142, 1);
}

.buy-sell header ul li {
    display: inline-block;


}

.buy-sell header ul .red {


    font-family: 'Roboto Flex';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    align-items: center;
    color: #DE2D40;


}

.buy-sell header ul .red span {
    font-weight: 400;
    font-size: 14px;


    align-items: center;

    color: #DE2D40;
}

.buy-sell header ul li {

    font-family: 'Roboto Flex';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #9BACB6;

}

.buy-sell header ul li span {
    font-weight: 500;
    font-size: 14px;
    color: #D6DDE1;
}

.buy-sell header ul input {
    align-items: center;
    padding: 8px 12px;
    width: 219px;
    height: 40px;
    border: none;
    background: #222B2F;
    border-radius: 4px;
}



.buy-sell .col-md-9 .col-md-4 select {
    margin-top: 17px;
    width: 101px;
    height: 32px;
    background: #2C3B44;
    border-radius: 2px;
    border: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 8px;
    gap: 4px;
    color: #FFFFFF;
    font-family: 'Roboto Flex';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}



.buy-sell table {

    width: 100%;
    margin-top: 10px;
    overflow: hidden;

}

.buy-sell table th {



    /* EN/Sub-body 12 - Regular */
    font-family: 'Roboto Flex';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;

    /* identical to box height */






    color: #677F8E;
}

.buy-sell table td {
    font-family: 'Roboto Flex';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    /* Status/Negative */
    color: #D6DDE1;

}

.buy-sell table .red {
    color: #DE2D40;
}

.buy-sell table .red-big {
    color: #DE2D40;
    font-weight: 600;
    font-size: 18px;
}

.buy-sell table .green {
    color: #40994F;
}

.buy-sell .col-md-3 select {
    margin-top: 17px;
    width: 120px;
    height: 32px;
    background: #2C3B44;
    border-radius: 2px;
    border: none;
    padding: 4px 8px;
    color: #FFFFFF;
    font-family: 'Roboto Flex';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}



/*Buy/Sell  Charts */

.buy-sell .chart {
    height: 446px;
    border-bottom: 1px solid #28363E;
    border-left: 1px solid #28363E;
}

.buy-sell h3 {

    margin-top: 30px;
    font-family: 'Roboto Flex';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    align-items: center;
    color: #FFFFFF;
}


/* Buy/Sells sells */
.buy-sell .sells li button {
    /* EN/Sub-body 12 - Regular */

    font-family: 'Roboto Flex';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    background: none;
    align-items: center;
    color: #677F8E;
    border: none;
    padding-bottom: 14px;

}

.buy-sell .sells li .active {

    border-bottom: 2px solid #F38220;
    width: auto;
    color: #D6DDE1;
}


.sells input {
    padding: 8px;
    gap: 8px;

    border: none;
    margin-bottom: 15px;
    height: 40px;
    font-family: 'Roboto Flex';
    font-style: normal;
    font-size: 14px;

    /* Button + Field/Field & Button - Default */

    background: #222B2F;
    border-radius: 4px;
}

.sells .buy-btn {
    background-color: rgba(64, 153, 79, 1);
    color: #FFFFFF;
    font-family: 'Roboto Flex';
    font-style: normal;
}

.sells .sell-btn {
    background-color: #DE2D40;
    color: #FFFFFF;
    font-family: 'Roboto Flex';
    font-style: normal;
}

.sells p {
    color: #677F8E;
    font-family: 'Roboto Flex';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
}

.sells label {
    color: #D6DDE1;
    font-family: 'Roboto Flex';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;

}

.sells .form-check input {
    background: #222B2F;
    border: 1px solid #3C515D;
    border-radius: 2px;
    padding: 0px;
    gap: 0px;
    height: 17px;
    width: 17px;

}

.sells .form-check input:checked {
    background-color: #F38220;
}


/* Footer */

.footer {
    height: 300px;
}

.footer #pills-tab li button {
    /* EN/Sub-body 12 - Regular */

    font-family: 'Roboto Flex';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 14px;
    background: none;
    align-items: center;
    color: #677F8E;

    border: none;
    padding-bottom: 14px;

}

.footer #pills-tab li .active {
    border-bottom: 2px solid #F38220;
    color: #D6DDE1;
    width: auto;
    font-family: 'Roboto Flex';
    font-style: normal;
}


.footer #open-order ul {
    padding: 4px 8px;
    border: 1px solid #28363E;

}

.footer #open-order ul li button {
    background: none;
    border: none;
    border-radius: 2px;
    font-size: 14px;
    width: 186.5px;
    color: #677F8E;
    font-family: 'Roboto Flex';
    font-style: normal;
    margin: 0px;
    padding: 8px 0px;
}

.footer #open-order ul li .active {
    color: white;
    background-color: #2C3B44;
    border-radius: 2px;
    font-size: 14px;
    margin: 0px;
    width: 186.5px;
    padding: 8px 0px;
    font-family: 'Roboto Flex';
    font-style: normal;

}

/* Footer Table */
.footer table {
    width: 100%;
}

.footer table th {
    font-family: 'Roboto Flex';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */



    /* Text + Icon/Content - Sub#2, Icon */

    color: #677F8E;
}


.footer table input {
    background: #222B2F;
    border: 1px solid #3C515D;
    border-radius: 2px;
    height: 17px;
    width: 17px;
}

.footer table input:checked {
    background-color: #F38220;
    border: 1px solid #3C515D;
}

.footer table td {
    font-family: 'Roboto Flex';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #D6DDE1;
    border-bottom: 1px solid #28363E;
}

.footer table .green {
    color: #40994F;
}

.footer table button {
    color: #D6DDE1;
    font-family: 'Roboto Flex';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    padding: 8px 16px;
    background: #38454D;
    border-radius: 4px;
    border: none;

}

.footer table button:hover {
    color: #D6DDE1;
    font-family: 'Roboto Flex';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    padding: 8px 16px;
    background: #38454D;
    border-radius: 4px;
    border: none;
}


/* Modals */

#limit-TPSL .modal-content .modal-body {
    width: 100%;

}

#limit-TPSL .top-col {

    border-bottom: 4px solid #0A0D10;
    ;
}

#limit-TPSL .modal-dialog .modal-content {
    background: #141B1F;
    border-radius: 8px;
    font-family: 'Roboto Flex';
    font-style: normal;
}

#limit-TPSL .modal-dialog .modal-content .modal-body {
    background: #141B1F;
    border-radius: 8px;
}

#limit-TPSL .modal-dialog .modal-content .modal-body p {
    color: #677F8E;
    font-family: 'Roboto Flex';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;

}

#limit-TPSL .modal-dialog .modal-content .modal-body p .badge {
    /* EN/Sub-body 12 - Medium */

    font-family: 'Roboto Flex';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    background: #40994F;
    border-radius: 2px;


}

#limit-TPSL .modal-dialog .modal-content .modal-body p .span {
    margin-left: 30%;
}


#limit-TPSL input {
    background-color: #222B2F;
    border: 1px solid #3C515D;
    border-radius: 2px;
    padding: 0px;
    gap: 0px;
    height: 17px;
    width: 17px;
    
}

#limit-TPSL input:checked {
    background-color: #F38220;
}

#limit-TPSL label{
    font-family: 'Roboto Flex';
    font-style: normal;
font-weight: 400;
font-size: 14px;



color: #D6DDE1;
}


#limit-TPSL .top-btn{

    border: 1px solid #28363E;
    width: 100%;
   
   
  
}

#limit-TPSL .top-btn button{

color: #677F8E;
font-family: 'Roboto Flex';
font-style: normal;
font-weight: 400;
font-size: 12px;
/* identical to box height */
border: none;
text-align: center;
height: 24px;
top: 0;
padding:7px;
margin-left: 0px;
}

#limit-TPSL .top-btn .active{
background: #2C3B44;
border-radius: 2px;
color: white;
margin: 1px;;
}




#limit-TPSL .second-one{
  
    border: none;
    width: 100%;   
}

#limit-TPSL .second-one button{
    font-family: 'Roboto Flex';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    height: 40px;
    /* identical to box height, or 171% */
    
    text-align: center;
    
    /* Text + Icon/Content - Sub #1 */
    background: #222B2F;
    color: #9BACB6;
    margin:.5px;
}

#limit-TPSL .second-one .padd{
   width: 200px;
}

#limit-TPSL .second-one .active{
    background: #38454D;
    border: none;
    color: white;
}

#limit-TPSL ul li{
    font-family: 'Sarabun';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* or 171% */


/* Text + Icon/Content - Sub #1 */

color: #9BACB6;
}


#limit-TPSL .border-col{
    border-bottom: 1px solid #28363E;;
}


#limit-TPSL .submit{
    /* Status/Positive */

background: #40994F;
border-radius: 4px;
border: none;
width: 255px;
height: 40px;
padding: 8px;
}

#limit-TPSL .modal-header{
    border: none;
}
#limit-TPSL .modal-header h5{
    font-family: 'Roboto Flex';
font-style: normal;
font-weight: 600;
font-size: 18px;
color: #FFFFFF;
}

#limit-TPSL .modal-header button{
    background:none;
}




/*LIMIT Stop Modal  */



#limit-stop .modal-content .modal-body {
    width: 100%;

}

#limit-stop .top-col {

    border-bottom: 4px solid #0A0D10;
    ;
}

#limit-stop .modal-dialog .modal-content {
    background: #141B1F;
    border-radius: 8px;
    font-family: 'Roboto Flex';
    font-style: normal;
}

#limit-stop .modal-dialog .modal-content .modal-body {
    background: #141B1F;
    border-radius: 8px;
}

#limit-stop .modal-dialog .modal-content .modal-body p {
    color: #677F8E;
    font-family: 'Roboto Flex';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;

}

#limit-stop .modal-dialog .modal-content .modal-body p .badge {
    /* EN/Sub-body 12 - Medium */

    font-family: 'Roboto Flex';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    background:#DE2D40;
    border-radius: 2px;


}

#limit-stop .modal-dialog .modal-content .modal-body p .span {
    margin-left: 30%;
}


#limit-stop input {
    background-color: #222B2F;
    border: 1px solid #3C515D;
    border-radius: 2px;
    padding: 0px;
    gap: 0px;
    height: 17px;
    width: 17px;
    
}

#limit-stop input:checked {
    background-color: #F38220;
}

#limit-stop label{
    font-family: 'Roboto Flex';
    font-style: normal;
font-weight: 400;
font-size: 14px;



color: #D6DDE1;
}


#limit-stop .top-btn{

    border: 1px solid #28363E;
    width: 100%;
   
   
  
}

#limit-stop .top-btn button{

color: #677F8E;
font-family: 'Roboto Flex';
font-style: normal;
font-weight: 400;
font-size: 12px;
/* identical to box height */
border: none;
text-align: center;
height: 24px;
top: 0;
padding:7px;
margin-left: 0px;
}

#limit-stop .top-btn .active{
background: #2C3B44;
border-radius: 2px;
color: white;
margin: 1px;;
}




#limit-stop .second-one{
  
    border: none;
    width: 100%;   
}

#limit-stop .second-one button{
    font-family: 'Roboto Flex';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    height: 40px;
    /* identical to box height, or 171% */
    
    text-align: center;
    
    /* Text + Icon/Content - Sub #1 */
    background: #222B2F;
    color: #9BACB6;
    margin:.5px;
}

#limit-stop .second-one .padd{
   width: 200px;
}

#limit-stop .second-one .active{
    background: #38454D;
    border: none;
    color: white;
}

#limit-stop ul li{
    font-family: 'Sarabun';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* or 171% */


/* Text + Icon/Content - Sub #1 */

color: #9BACB6;
}


#limit-stop .border-col{
    border-bottom: 1px solid #28363E;;
}


#limit-stop .submit{
    /* Status/Positive */

background: #40994F;
border-radius: 4px;
border: none;
width: 255px;
height: 40px;
padding: 8px;
}

#limit-stop .modal-header{
    border: none;
}
#limit-stop .modal-header h5{
    font-family: 'Roboto Flex';
font-style: normal;
font-weight: 600;
font-size: 18px;
color: #FFFFFF;
}

#limit-stop .modal-header button{
    background:none;
}


/* order-Confirmation Modal*/
#order-TPSL .modal-content .modal-body {
    width: 100%;

}


#order-TPSL h5 {

    font-family: 'Roboto Flex';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;

    color: #D6DDE1;
}

#order-TPSL .modal-dialog .modal-content {
    background: #141B1F;
    border-radius: 8px;
    font-family: 'Roboto Flex';
    font-style: normal;
}

#order-TPSL .modal-dialog .modal-content .modal-body {
    background: #141B1F;
    border-radius: 8px;
}

#order-TPSL .modal-dialog .modal-content .modal-body p {
    color: #677F8E;
    /* EN/Body 14 - Regular */

    font-family: 'Roboto Flex';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    display: flex;
}

#order-TPSL .modal-dialog .modal-content .modal-body .span {
    margin-left: 25%;
    display: flex;
}

#order-TPSL .modal-dialog .modal-content .modal-body .badge {
    font-family: 'Roboto Flex';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    background: #40994F;
    border-radius: 2px;
}

#order-TPSL .modal-dialog .modal-content .modal-body .sell-badge {
    font-family: 'Roboto Flex';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    padding: 4px 8px;
    background: #DE2D40;
    border-radius: 2px;
}

#order-TPSL .modal-dialog .modal-content .modal-body label {
    font-family: 'Sarabun';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;

    color: #D6DDE1;
}

#order-TPSL .modal-dialog .modal-content .modal-body input {
    background-color: #222B2F;
    border: 1px solid #3C515D;
    border-radius: 2px;
    padding: 0px;
    gap: 0px;
    height: 17px;
    width: 17px;
}

#order-TPSL .modal-dialog .modal-content .modal-body input:checked {
    background-color: #F38220;
}

#order-TPSL .modal-dialog .modal-content .modal-body .yellow-btn {
    color: #0A0D10;
    padding: 8px 16px;
    background: #F38220;
    border-radius: 4px;
    width: 136px;
}

#order-TPSL .modal-dialog .modal-content .modal-body .yellow-btn {
    color: #0A0D10;
    padding: 8px 16px;
    background: #F38220;
    border-radius: 4px;
    width: 120px;
    font-family: 'Sarabun';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    border: none;
}

#order-TPSL .grey-btn {
    color: #FFFFFF;
    padding: 8px 16px;
    background: #222B2F;
    border-radius: 4px;
    width: 120px;
    font-family: 'Sarabun';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    border: none;
}